#countLabel{
    display:block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer{
    text-align: center;
}


.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color:white;
    background-color: rgb(71, 110, 200);
    border-radius:5px;
    cursor:pointer;
    transition:background-color 0.25s;

}

.buttons:hover{
    background-color: rgb(24, 10, 105);

}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}



#button1{
    font-size: 3em;
    padding:5px 25px;
    border-radius:20px ;

}

#myLabel{

    font-size: 3em;


}

.myLabels{
    font-size: 3em;
}


#mySubmit{
    font-size: 1em;
}





